*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #D0D4D5;
    position: relative;
}

#nav{
    height: 100px;
    padding: 0 44px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.items{
    display: flex;
}

.items h4:hover{
    text-decoration: underline;
    cursor: pointer;
}

.nav-part1 img{
    height:30px;
    padding-left: 58px;
    margin-right: 165px;
}

.nav-part1 h4{
    margin-right: 60px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 550;
}

.nav-part2 i{
    margin-right: 75px;
    font-size: 25px;
    font-weight: 550;
}

.nav-part2 i:hover{
    cursor: pointer;
}

#content{
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
}

#left{
    height: 100%;
    width: 40%;
    padding: 137px 108px;
    position: relative;
}

#left h5{
    margin-bottom: 23px;
    color: #535353;
}

#left h1{
    margin-bottom: 42px;
    font-size: 56px;
    text-transform: uppercase;
}

#left p{
    margin-bottom: 70px;
    color: #535353;
    font-size: 14px;
    font-weight: 550;
    line-height: 21px;
}

#left button{
    height: 60px;
    width: 190px;
    background-color: #000;
    outline: none;
    box-shadow: none;
    color: #fff;
    border-radius: 0 30px 30px 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px;
}

#right{
    height: 100%;
    width: 60%;
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
}

#right::-webkit-scrollbar{
    display: none;
}

.elem{
    margin-top: 45px;
    height: 550px;
    width: 400px;
    background-color: #fff;
    position: relative;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-right: 20px;
}

.elem img{
    position: absolute;
    object-fit: fill;
    height: 430px;
    width: 390px;
}

.elem h4{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ced3d4;
    padding: 17px 34px;
    font-size: 17px;
    border-radius: 8px 0px 8px 8px;
}
.elem h5{
    position: absolute;
    bottom: 9.8%;
    right: 0;
    background-color: #000000;
    color: #fff;
    padding: 18px 20px;
    font-size: 14px;
    border-radius: 8px 8px 0px 8px;
    height: 55px;
    width: 50%;
}

.elem .cont{
    position: absolute;
    bottom: 9.8%;
    right: 0;
    background-color: #000000;
    color: #fff;
    padding: 18px 29px;
    font-size: 14px;
    border-radius: 8px 8px 0px 8px;
    height: 55px;
    width: 35%;
}